# Dependencies
node_modules/
Edvantage/frontend/node_modules/
Edvantage/backend/venv/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
Edvantage/backend/.env
Edvantage/frontend/.env

# Build outputs
Edvantage/frontend/dist/
Edvantage/backend/dist/
Edvantage/backend/build/

# Python cache
**/__pycache__/
*.py[cod]
*$py.class

# Database
Edvantage/backend/instance/spmis.db
